@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oxygen:wght@300&family=Titillium+Web:wght@200&display=swap');

html,body{
    overflow-x: hidden;
}

body{
    font-family: 'Lato', sans-serif;
    font-family: 'Oxygen', sans-serif;
    padding-right: 0px !important;/* to stop modall effect padding of page */

}

body .modal-open {
    padding-right: 0 !important; /*to stop modall effect padding of page */


  }
  


/* nav bar --------------------------- */
.navbar-brand{
    font-family: 'EB Garamond', serif;
    /* text-align: center; */
    line-height: 23px;

  }
  .navbar-brand:hover{
    color: rgb(33, 180, 40);

  }


  span.your.account img{ /* border arond navbar login icone */
    border: rgb(8, 8, 8) double 3px;
    border-radius: 43%;
  }
  

  span.your.account img:hover{
  background-color:#45974a;
}

  .navbar-nav{
    text-align: center;

  }
  .navbar-expand-lg .navbar-collapse { /*from scss copied to control navlinks righ side postion*/
    padding-right: 2%;
  }

.nav-link {
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: var(--bs-nav-link-font-size);
    font-weight: bold;
    color: #110b08;
    text-decoration:none;
    letter-spacing:1px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}
.nav-link:hover{  /*for mobile screen on line 284 */
    background-color: #45974a;
    color: whitesmoke;
   
}
a.nav-link.d-none.d-lg-block:hover{
    background-color: rgba(245, 245, 245, 0.144);
    color:#45974a;
}


.bg-light{
    --bs-bg-opacity: .8;
    background-color: rgba(var(--bs-light-rgb),var(--bs-bg-opacity))!important;
    background-color: #465f856b ;

}




.navbar-toggler{
    
}
.navbar-toggler:hover{
    background-color: #acd8ae;
}




/* background_img_banner class for banner*/
.background_img_banner{
    height: 100vh;
}

.video_bg {
    position: fixed;
    z-index: -1;
    inset: 0px;
    overflow: hidden;
    background-size: cover;
    
}
#myVideo{height: 100%;}

/* overlay */

.opaque-overlay {
    position: absolute;
    top:
    inherit;
    left: 0;
    /* right: 20; */
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.brand_image_over{
    /* justify-items: center; */
    /* background-image: url(../images/main_images/por_gym_edit2.png); */
    /* background-image: url(../images/FONTS22.png); */
    /* background-repeat: no-repeat; */
    position: relative;
    /* height: 40%; */
    top: 30%;
    /* margin: 0 auto; */
    /* right: 50%; */
    text-align: center;
}

.clip-polygon {
    clip-path: polygon(5% 5%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
  }


.massage_heading{
   color: rgb(218, 216, 214);
}

.animate_image{
    animation: fadeInAnimation ease 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}





/* join club  button */
.btn_main{
    background-color: transparent;
    border-color:#f8f9fa;

    color: rgb(180, 178, 24);
    padding: 16px 22px;
  
    text-align: center;
    font-size: 24px;
    font-weight:bold;
  
    margin-top: 3vh;
  
    transition: 0.3s;
    border-radius: 8%;

}

.btn_main:visited{
    background-color: transparent;
    border-color:#f8f9fa;

    color: rgb(180, 178, 24);
    padding: 16px 22px;
  
    text-align: center;
    font-size: 24px;
    font-weight:bold;
  
    margin-top: 3vh;
  
    transition: 0.3s;
    border-radius: 8%;

}





.btn_main:hover {
  background-color: #094b0c;
  color: white;
}






/* article tag color */

article{
    background-color: antiquewhite;
}


/* describe section*/

.describe .row {
    background-color:
    white;
    color:
    rgb(71, 7, 61);
}
.describe h1{
    margin: 5%;
    font-weight: 600;
}
.describe p{
    margin: 4%;
    font-size:large;
}
/* ------------ */


/* facility fluid and towels icones */
.facility-fluid{
    background-color: rgb(214, 192, 152);
}


.towels{
    padding-top: 5%;
    padding-bottom: 5%;
  }

  .icons_gym{
    margin: 0 auto;
  }

  
  figure{
    /* line-height: 100px; */
     margin: revert; 
  }  
  


  
  
   figure img{
    height: 90px;
    width: 90px;
    float: inline-start;
  }
  figure .fa-wifi{
    height: 90px;
    width: 90px;
    font-size:82px;
  }

  figcaption{
    width: max-content;
    font-weight: bold;
    /* font-style: italic; */
    /* font-size: larger; */
    /* float: right; */
    color: #4d316c;
  }
  figcaption .wifi{
    padding-left: 10%;
  }

  
  @media only screen and (max-width: 480px) {
    figure{
        /* line-height: 20px; */
        margin: 0 0 1rem;
        margin: revert;
      }
     

    }





/*----photos first slide ___*/
.photos{
    
    /* color: white; */
        
    padding-bottom: 3.5%;
        
    background-color: #32c7d3;
        
    padding-top: 3%;
        }
        
        #carouselExampleIndicators{
            
            /*max-width: 600; */
            
        }
    
    .photos p{
        color: #523018;
        font-weight: bolder;
        font-size: large;
        padding-left: 1%;
    }
        
        @media only screen and (max-width: 480px) {
            .photos{
            
                padding-bottom: 0%;
                }
        
            .slide_photos_1{
                margin-left: -10%;
                margin-right: -10%;
                margin-top: -5%;
            }
            h2{
                padding: 5%;
            }
            }
        
        
        .carousel-inner{
           
        }
        
        .carousel-item{
        }
        
        .slide_notes_h3{
            padding: 5%;
        }
        
        /* some notes */
        .some_notes_h3{
            padding: 5%;
        }
        



/* some skills and facility */
.skills{
   
    align-content: center;
       
    background-color: #8b1358;
       
    color: white;
    }
    
    .skills_heading{
        font-weight: 600;
        padding-bottom: 3%;
        padding-top: 4%;
        padding-left: 2%;
    }
    
    .offer_memeber{
        list-style: none;
        display:inline-flex;
    
    }
    .offer_memeber li{
        
        text-align-last: center;
        padding: 2%;
    }



/*second lide review */


.review_slide{
    margin-left: -15px;
    margin-right: -15px;
    background-color: #03325ef5;
    color:#00e6f6;
}


.second_slide2 .row{
    
    background-image: url(../images/star-rating-scaled.png);
    opacity:0.7;
    background-repeat: no-repeat;
    background-position: 50% 92%;
     
}



/* enquery and join club row */



.enquiry_row  a{
    text-decoration: none;
    color:rgb(248, 244, 27);}
    



.modal_enquire_join{

    margin: 8%;
    }
.join_club{
        float: left;
        
    }




.last_btn_member{
    
    /* margin-right: 5%; */
    width: 150px;
    height: 76px;
    line-height: 60px; 
    font-size: 16px;
    font-weight: bold;
    /* font-family: 'Bebas Neue', sans-serif; */
    background: linear-gradient(45deg, transparent 5%, #43065f 5%);
    border: 0;
    color: rgb(248, 244, 27);
    /* letter-spacing: 3px; */
    box-shadow: 6px 0px 0px #00e6f6;
    outline: transparent;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    text-transform: uppercase;
    border-radius: 0;
    /* border-left: #00e6f6 solid 4px; */
}
.last_btn_member:hover {
    background: linear-gradient(45deg, transparent 5%, #084298 5%);
    
    border: 0;
    color: rgb(248, 244, 27);
    
    /* border-left: #00e6f6 solid 4px; */
}
.last_btn_member:visited {
    background: linear-gradient(45deg, transparent 5%, #084298 5%);
    
    border: 0;
    color: rgb(248, 244, 27);
    
    /* border-left: #00e6f6 solid 4px; */
}




/*footer part 

.main_footer{
    background-color:#0b2265;
    height: auto;
    width: 100%;
    height: 40%;
    
   
    
    
}

.first_col_social,.footer_brand_small{
    margin-top: 4%;
}



.social_list1{
        display: inline-flex;
        list-style: none;
        
    }

.social_list1 li{
        padding-left: 5px;
        font-size: larger;
        
    }
footer a {
    color: wheat;
    text-decoration-line:none;
      }

.fa-brands{
        color:wheat ;
    }
    .tel{
        color: wheat;
        list-style: none;
        margin-left: 4px;
    }
    */
    /*new footer style */

  footer a {
    color: wheat;
text-decoration-line:none;

  }
  footer a:hover{
    color: #45974a;
  }

  .links_us li{ /* for mobile look at media screen on end */
    font-weight: bold;
    padding-top: 5%;
  }

  .opening{
    color: wheat;
    font-weight: bold;
    padding-top: 1%;
  }

  

.main_footer{
  background-color:#0b2265;
  height: auto;
  width: 100%;
  height: 40%;
  
 
  
  
}

.footer_brand{
  font-family: 'EB Garamond', serif;
  /* text-align: center; */
  line-height: 23px;
  font-size:xxx-large;

}



.social_list1{
      display: inline-flex;
      list-style: none;
  }

.social_list1 li{
      padding-left: 5px;
      font-size: xx-large;
  }
  .social_list2{
    display: inline-flex;
    list-style: none;
    /* width: max-content; */
    /* margin: 0 auto; */
}

.social_list2 li{
    font-size: xx-large;
    /* margin: 0 auto; */
}
.social_list2 .lists_li_p{
  padding-left: 12%;
}

  .tel{
      color: wheat;
      list-style: none;
      margin-left: 4px;
  }

/* back to top page style */
.top{
    background-color: #d3ad323b;
    position: sticky;
    bottom: 2%;
    left: 96%;
    color: red;
    height: 40px;
    width: max-content;
    padding: 10px;
    border-radius: 30%;
    font-size:xx-large;
    font-weight: bolder;
}
.top:visited{
    color:red
  }
  




  @media only screen and (max-width: 480px) {
    .links_us li{
   
      padding-top: 8%;
    }
    
      .footer_brand{
        /* text-align: center; */
        line-height: 23px;
        font-size: xx-large;
        padding-top: 4%;
        padding-bottom: 4%;
        padding-left: 11%;

      }
    }