
    body{
        
        background-color:rgb(27, 98, 146);
        
        background-image: url("/assets/images/login_bg2.jpg");

        background-size: cover;
  
            /* Specify the background image */      
    }
    .row{
        height: 50%;
      }
      
    .whole_contents_col{
        background-color:coral; /*background for whole form and icon at top */
    }
    .form_icon{
        color: rgba(238, 239, 232, 0.801); 
        font-size: 100px;
        text-align: center;
        text-shadow: 0 0 20px rgba(0,0,0,0.2);
        /* width: 50%; */
        padding: 70px 0;
        vertical-align: top;
  }
  .form_icon .title{
    font-family: "Oxygen";
    text-shadow: 0 0 20px rgba(0,0,0,0.2);
    color:antiquewhite;
    font-weight: bold;
  }


  form{
    padding-top: 2%;
    padding-bottom: 5%;
    padding-left: 2%;
    padding-right: 2%;
    
  }
  
  @media only screen and (max-width: 480px) {
    .whole_contents_col{
      background-color:rgba(245, 245, 220, 0.001);
      border-radius: 0%;
    }
  
  }