
    body{
        
        background-color:rgb(27, 98, 146);
        
        background-image: url(./assets/images/Club_COMO_Gym_Room_2016.jpg);

        background-size: cover;
  
            /* Specify the background image */      
    }
