
    html,body{
      height: 100%;
      margin: 0;
    }
    .back_body{
        
        
        background-image: url("/assets/images/login_bg2.jpg");
        /* Full height */
        height: 100%;
      
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-size: cover;
  
            /* Specify the background image */      
    }
    .row{
        height: 50%;
      }
      
    .whole_contents_col{
        background-color:coral; /*background for whole form and icon at top */

    }
    .form_icon{
        color: rgba(238, 239, 232, 0.801); 
        font-size: 100px;
        text-align: center;
        text-shadow: 0 0 20px rgba(0,0,0,0.2);
        /* width: 50%; */
        padding: 70px 0;
        vertical-align: top;
  }
  .form_icon .title{
    font-family: "Oxygen";
    text-shadow: 0 0 20px rgba(0,0,0,0.2);
    color:antiquewhite;
    font-weight: bold;
  }


  form{
    margin-top: -13%;
    padding-top: 2%;
    padding-bottom: 5%;
    padding-left: 2%;
    padding-right: 2%;
    
  }

  form small{
    color:white;
    
  }
  small a{
    text-decoration: none;
    color: rgb(197, 216, 24);
  }
  
  @media only screen and (max-width: 480px) {
    .whole_contents_col{
      background-color:rgba(245, 245, 220, 0.001);
      border-radius: 0%;
    }
  
  }