@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oxygen:wght@300&family=Titillium+Web:wght@200&display=swap');

    html,body{
      height: 100%;
      margin: 0;
    }
    body{
      font-family: 'Lato', sans-serif;
    font-family: 'Oxygen', sans-serif;
    padding-right: 0px !important;/* to stop modall effect padding of page */
    }
    .back_body{
        
        
        background-image: url("/assets/images/login_bg2.jpg");
        /* Full height */
        height: 100%;
      
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-size: cover;
  
            /* Specify the background image */      
    }
/* nav bar --------------------------- */
.navbar-brand{
  font-family: 'EB Garamond', serif;
  /* text-align: center; */
  line-height: 23px;

}
.navbar-brand:hover{
  color: rgb(9, 80, 13);

}
.navbar-nav{
  text-align: center;

}

.nav-link {
  display: block;
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
  font-size: var(--bs-nav-link-font-size);
  font-weight: bold;
  color: #110b08;
  text-decoration:none;
  letter-spacing:1px;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.nav-link:hover{ 
  background-color: #45974a;
  color: whitesmoke;
 
}




.bg-light{
  --bs-bg-opacity: .8;
  background-color: rgba(var(--bs-light-rgb),var(--bs-bg-opacity))!important;
  background-color: #465f856b ;

}


.navbar-toggler{
  
}
.navbar-toggler:hover{
  background-color: #acd8ae;
}


    .row{
        height: 50%;
      }
      
    .whole_contents_col{
        background-color:coral; /*background for whole form and icon at top */

    }
    .form_icon{
        color: rgba(238, 239, 232, 0.801); 
        font-size: 100px;
        text-align: center;
        text-shadow: 0 0 20px rgba(0,0,0,0.2);
        /* width: 50%; */
        padding: 70px 0;
        vertical-align: top;
  }
  .form_icon .title{
    font-family: "Oxygen";
    text-shadow: 0 0 20px rgba(0,0,0,0.2);
    color:antiquewhite;
    font-weight: bold;
  }


  form{
    margin-top: -13%;
    padding-top: 2%;
    padding-bottom: 5%;
    padding-left: 2%;
    padding-right: 2%;
    
  }

  form small{
    color:white;
    
  }
  small a{
    text-decoration: none;
    color: rgb(197, 216, 24);
  }
  
  @media only screen and (max-width: 480px) {
    .whole_contents_col{
      background-color:rgba(245, 245, 220, 0.001);
      border-radius: 0%;
    }
    .form_icon{
      color: white;
    }
    .form_icon .title{
      text-shadow: 0 0 20px rgb(14 2 2 / 96%);
      color: #e9e4dd;
      font-weight: 900;
      font-size: x-large;
    }

  
  }