body{
    background-color: #eee;;
  }
  .navbar-toggler{
      background-color: rgb(12, 50, 134);
  }
  .navbar-brand{
    
  }
  
  .brand_image_nav{
      background: url("assets/images/p_s_gym2.jpeg") no-repeat;
      height: 9vh;
      width: 9.5vh;
      border-radius: 5%;
      margin-bottom: -2px;
    
  }

  .nav-link {
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: var(--bs-nav-link-font-size);
    font-weight: bold;
    color: #110b08;
    text-decoration:none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}
  
  
  .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
      /* --bs-gutter-x: 1.5rem; */
      --bs-gutter-y: 0;
      width: 100%;
      padding-right: calc(var(--bs-gutter-x) * .5);
      padding-left: calc(var(--bs-gutter-x) * .5);
      margin-right: auto;
      margin-left: auto;
  }
  
  
  *, ::after, ::before {
       box-sizing: border-box;
  }
  
  .hero{
      height: 35rem;
      background-position: left;
      background-repeat: no-repeat;
      background-size:revert;
      display: flex;
      align-items: center;
      position: relative;
  }
  
  .map_address{
    margin-top: 5%;
    margin-bottom: 5%;
  }
  
  .card{
     /* width:fit-content; */
      margin: 0 auto;

  }
      ul{
          list-style: none;
      }   
    
     
  .station{
      margin-left: 10px;
  }
  .distance {
    margin-left: 30px;
    /* margin-right: -40px; */
    text-align: center;
    text-align: center;
    /* border: 3px solid green; */
  }
    

/*footer */
  footer a {
    color: wheat;
text-decoration-line:none;

  }
  .tel li{
    color:wheat;
  }

  .social_list1{
    display: inline-flex;

  }
  .social_list1 li{
    padding-left: 5px;
  }

/* ____________footer _____ */
  
.main_footer{
  background-color:#0b2265;
  height: auto;
  width: 100%;
  height: 40%;
  
 
  
  
}

.first_col_social,.footer_brand_small{
  margin-top: %;
}



.social_list1{
      display: inline-flex;
      list-style: none;
  }

.social_list1 li{
      padding-left: 5px;
      font-size: larger;
      
  }
footer a {
  color: wheat;
  text-decoration-line:none;
    }

.fa-brands{
      color:wheat ;
  }
  .tel{
      color: wheat;
      list-style: none;
      margin-left: 4px;
  }