@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oxygen:wght@300&family=Titillium+Web:wght@200&display=swap');

html,body{
  overflow-x: hidden;
}
body{
  font-family: 'Lato', sans-serif;
  font-family: 'Oxygen', sans-serif;
  padding-right: 0 !important; /*dont all modall effect padding of page */
}

body.modal-open {
  padding-right: 0 !important; /*dont all modall effect padding of page */
}

/* background_img_banner class for banner
.background_img_banner{
  height: 60vh;
}
*/
.background_img_banner{
  height: 28vh;
}


.image_banner {
  position: fixed;
  z-index: -1; 
  inset: 0px;
  overflow: hidden;
  background-size: cover;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 30% 50%;
  background-image: url(../images/Admirals-Cove_fitness-center-2000x12002.jpg);
}

@media only screen and (max-width: 386px) {
  .image_banner{
    background-image: url(../images/gym_cover_mobile_background.jpg);
  }
  }



/* nav bar --------------------------- */
.navbar-nav{
  text-align: center;

}


.navbar-brand{
  font-family: 'EB Garamond', serif;
  line-height: 23px;

}
.navbar-brand:hover{
  color: rgb(33, 180, 40);

}
a.nav-link.d-none.d-lg-block:hover{
  background-color: rgba(245, 245, 245, 0.144);
  color:#45974a;
}
.navbar-expand-lg .navbar-collapse { /*from scss copied to control navlinks righ side postion*/
  padding-right: 2%;
}


.nav-link {
  display: block;
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
  font-size: var(--bs-nav-link-font-size);
  font-weight: bold;
  color: #110b08;
  letter-spacing:1px;
  text-decoration:none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.nav-link:hover{ 
  background-color: #45974a;
  color: whitesmoke;
 
}


span.your.account img{ /* border arond navbar login icone */
  border: rgb(8, 8, 8) double 3px;
  border-radius: 43%;
}


span.your.account img:hover{
  background-color:#45974a;
}


.bg-light{
  --bs-bg-opacity: .8;
  background-color: rgba(var(--bs-light-rgb),var(--bs-bg-opacity))!important;
  background-color: #465f856b ;

}




.navbar-toggler{
}
.navbar-toggler:hover{
  background-color: #acd8ae;
}





/* overlay 

.opaque-overlay {
  position: absolute;
  top:
  inherit;
  left: 0;
 
  height: 60%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
*/
.opaque-overlay {
  position: absolute;
  top:
  inherit;
  left: 0;
  /* padding-bottom: 10%; */
  height: 33%;
  width: 100%;
  background-color: rgba(3, 3, 3, 0.836);
}

.brand_image_over{
  /* justify-items: center; */
  /* background-image: url(../images/main_images/por_gym_edit2.png); */
  /* background-image: url(../images/FONTS22.png); */
  /* background-repeat: no-repeat; */
  position: relative;
  /* height: 40%; */
  top: 3.8%;
  /* margin: 0 auto; */
  /* right: 50%; */
  text-align: center;
}


.clip-polygon {
  /*clip-path: polygon(5% 5%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);*/
}


.massage_heading{
 color: rgb(218, 216, 214);
}

.animate_image{
  animation: fadeInAnimation ease 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

/* )))))))))))))))))))))) */
/* membership first; */
.bg_half_row{
  
  
  background-color: #34476466;
  /*
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  */
}

@media only screen and (max-width: 560px) {
  .bg_half_row{
   /* width: 100%;*/
  }
  }



.facilities{
/*
padding-top: 10%;
padding-bottom: 10%; */
background-color: #5765724f;
background-image: url(../images/happy_sport.jpeg);
background-repeat: no-repeat;
background-size: cover;
position: relative;
}




header .some_info{
 padding: 6%;
  

}
.some_info h3{
  font-family: 'Lato', sans-serif;
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
  padding-bottom: 2%;
  padding-top: 3%;
  padding-left: 5%;
  color: rgb(243 240 240);
}
.some_info ul{
  padding-left: 10%;
  padding-bottom: 5%;
}
.some_info li{
  font-family: 'Lato', sans-serif;
  color: #f8f9fa;
  padding-left: 0%;
  margin-top: 3%;
  font-weight: 1000;
  /*font-family: 'Titillium Web', sans-serif;
  font-weight: bold;*/
  font-size: x-large;
  /* background-color: #34770ff5; */
}

.some_info li::marker {
	color:orange;
}

.some_info .fa-solid ,.some_info .fa-brands {
  padding-right: 2%;

}


/*happy picture */


/*  memebrea heading and tables */





.member_table_head {
  text-align: center;
}
.member_table_head h2{
  color:#666663;
}

.mem-planes-tables .container{
  padding-top: 5%;
  padding-bottom: 5%;
}




/*  blink */

.blink {
  animation: blinker 0.9s linear infinite;
  font-size: 20px;
  }
@keyframes blinker {
  50% {
    opacity: 0;
  }
}
.blink-one {
  animation: blinker-one 3s linear infinite;
  color: #702f10;
  font-weight: bolder;
  /* line-height: 10%; */
  background-color: #b6c9be;
}
@keyframes blinker-one {
  0% {
    opacity: 0;
  }
}


.list-group-item a{
 color:rgb(112, 241, 60);
 font-size:20px;
 
}
.list-group-item a:hover{
  color:orange;
  
 }
li span{
  color:#e8e6ec
}
#card_middle_style {
  border: 3px solid rgb(133, 18, 18);
  border-top: #4dbe3b;
  border-right: #4dbe3b;
  padding: 10px;
  border-top-left-radius: 42px;
  /* border-top-right-radius: 42px; */
  border-bottom-right-radius: 42px;
  /* border-bottom-left-radius: 42px; */
}

#card_sides_style{
  border: 3px solid rgb(0, 153, 255);
  border-top: #535304;
  border-right: #666663;
  padding: 10px;
  border-top-left-radius: 50px 40px;
  border-bottom-right-radius: 50px 40px;
}

.card_sides_style{
  border: 3px solid rgb(0, 153, 255);
  border-top: #535304;
  border-right: #666663;
  padding: 10px;
  border-top-left-radius: 50px 40px;
  border-bottom-right-radius: 50px 40px;
}

section .list-group-item:nth-child(4) {
  color: green;   
  background-color: #475156;
  border-bottom-right-radius:42px;
  border-bottom-left-radius:0px;
}
section .list-group-item:nth-child(1) {
  color: rgb(235, 245, 235);   
  background-color: #121b1ac4;
 /* border-top-right-radius: 50px 40px;
  border-top-left-radius: 50px 40px; */
  border-top-left-radius: 42px;
 
}

section .list-group-item:nth-child(2) ,section .list-group-item:nth-child(3){
  color: rgb(128, 0, 96);   
  background-color: #ed973e;
  border-left: 50px;
  font-size: large;
  font-weight: 600;
  font-family:'oxygen';
}

.card-group>.card:not(:last-child) {
  border-top-right-radius: 0;
   border-bottom-right-radius: 42px;
}

.card-group {
  /*display: inline-flex; */
}





/*form become member */
/* input seciton ------------------------------------------------- */
h4 {
  color: #f0a500;
}
input,
input[type="radio"] + label,
input[type="checkbox"] + label:before,
select option,
select {
  width: 100%;
  padding: 1em;
  line-height: 1.4;
  background-color: #f9f9f9;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  -webkit-transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
input:focus {
  outline: 0;
  border-color: #bd8200;
}
input:focus + .input-icon i {
  color: #f0a500;
}
input:focus + .input-icon:after {
  border-right-color: #f0a500;
}
input[type="radio"] {
  display: none;
}
input[type="radio"] + label,
select {
  display: inline-block;
  width: 50%;
  text-align: center;
  float: left;
  border-radius: 0;
}
input[type="radio"] + label:first-of-type {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
input[type="radio"] + label:last-of-type {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
input[type="radio"] + label i {
  padding-right: 0.4em;
}
input[type="radio"]:checked + label,
input:checked + label:before,
select:focus,
select:active {
  background-color: #f0a500;
  color: #fff;
  border-color: #bd8200;
}
input[type="checkbox"] {
  display: none;
}
input[type="checkbox"] + label {
  position: relative;
  display: block;
  padding-left: 1.6em;
}
input[type="checkbox"] + label:before {
  position: absolute;
  top: 0.2em;
  left: 0;
  display: block;
  width: 1em;
  height: 1em;
  padding: 0;
  content: "";
}
input[type="checkbox"] + label:after {
  position: absolute;
  top: 0.45em;
  left: 0.2em;
  font-size: 0.8em;
  color: #fff;
  opacity: 0;
  font-family: FontAwesome;
  content: "\f00c";
}
input:checked + label:after {
  opacity: 1;
}
select {
  height: 3.4em;
  line-height: 2;
}
select:first-of-type {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
select:last-of-type {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
select:focus,
select:active {
  outline: 0;
}
select option {
  background-color: #f0a500;
  color: #fff;
}
.input-group {
  margin-bottom: 1em;
  zoom: 1;
}
.input-group:before,
.input-group:after {
  content: "";
  display: table;
}
.input-group:after {
  clear: both;
}
.input-group-icon {
  position: relative;
  font-size: large;
  
}
.input-group-icon input {
  padding-left: 4.4em;
}
.input-group-icon .input-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 3.4em;
  height: 3.4em;
  line-height: 3.4em;
  text-align: center;
  pointer-events: none;
}
.input-group-icon .input-icon:after {
  position: absolute;
  top: 0.6em;
  bottom: 0.6em;
  left: 3.4em;
  display: block;
  border-right: 1px solid #e5e5e5;
  content: "";
  -webkit-transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.input-group-icon .input-icon i {
  -webkit-transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.form_section .container {
  max-width: 38em;
  padding: 1em 3em 2em 3em;
  margin: 0em auto;
  background-color: #fff;
  border-radius: 4.2px;
  box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.2);
}

.col-half {
  padding-right: 10px;
  float: left;
  width: 50%;
}
.col-half:last-of-type {
  padding-right: 0;
}
.col-third {
  padding-right: 10px;
  float: left;
  width: 33.33333333%;
}
.col-third:last-of-type {
  padding-right: 0;
}
@media only screen and (max-width: 540px) {
  .col-half {
    width: 100%;
    padding-right: 0;
  }
  .some_info li {
    
    font-size: large;
  }
}



/*new footer style */

footer a {
  color: wheat;
text-decoration-line:none;

}
.links_us li{ /* for mobile look at media screen on end */
  font-weight: bold;
  padding-top: 5%;
}



.main_footer{
background-color:#0b2265;
height: auto;
width: 100%;
height: 40%;




}

.footer_brand{
font-family: 'EB Garamond', serif;
/* text-align: center; */
line-height: 23px;
font-size:xxx-large;

}



.social_list1{
    display: inline-flex;
    list-style: none;
}

.social_list1 li{
    padding-left: 5px;
    font-size: xx-large;
}
.social_list2{
  display: inline-flex;
  list-style: none;
  /* width: max-content; */
  /* margin: 0 auto; */
}

.social_list2 li{
  font-size: xx-large;
  /* margin: 0 auto; */
}
.social_list2 .lists_li_p{
padding-left: 12%;
}

.tel{
    color: wheat;
    list-style: none;
    margin-left: 4px;
}

/* back to top page style */
.top{
  background-color: #d3ad323b;
  position: sticky;
  bottom: 2%;
  left: 96%;
  color: red;
  height: 40px;
  width: max-content;
  padding: 10px;
  border-radius: 30%;
  font-size: larger;
  font-weight: bolder;
}
.top:visited{
  color:red
}



@media only screen and (max-width: 480px) {
  .links_us li{
 
    padding-top: 8%;
  }
  
    .footer_brand{
      /* text-align: center; */
      line-height: 23px;
      font-size:xx-large;
      padding-top: 2%;
      padding-bottom: 2%;

    }
  }